<p id="notice"><%= notice %></p>

<h1>Invoice Drugs</h1>

<table>
  <thead>
    <tr>
      <th>Drug name</th>
      <th>Drug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoice_drugs.each do |invoice_drug| %>
      <tr>
        <td><%= invoice_drug.drug_name %></td>
        <td><%= invoice_drug.drug %></td>
        <td><%= link_to 'Show', invoice_drug %></td>
        <td><%= link_to 'Edit', edit_invoice_drug_path(invoice_drug) %></td>
        <td><%= link_to 'Destroy', invoice_drug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice Drug', new_invoice_drug_path %>
