<%= form_for(drug) do |f| %>
  <% if drug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(drug.errors.count, "error") %> prohibited this drug from being saved:</h2>

      <ul>
      <% drug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brand_name %>
    <%= f.text_field :brand_name %>
  </div>

  <div class="field">
    <%= f.label :generic_name %>
    <%= f.text_field :generic_name %>
  </div>

  <div class="field">
    <%= f.label :retail_price %>
    <%= f.text_field :retail_price %>
  </div>

  <div class="field">
    <%= f.label :total_price %>
    <%= f.text_field :total_price %>
  </div>

  <div class="field">
    <%= f.label :purchase_price %>
    <%= f.text_field :purchase_price %>
  </div>

  <div class="field">
    <%= f.label :company_id %>
    <%= f.text_field :company_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
