<%= form_for(drug) do |f| %>
  <% if drug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(drug.errors.count, "error") %> prohibited this drug from being saved:</h2>

      <ul>
      <% drug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class = "row">
      <div class = "col-md-3"></div>
    <div class="col-md-6">
      <div class="field">
        <%= f.label :brand_name %>
        <%= f.text_field :brand_name, class: "form-control" , required: :true%>
      </div>

      <div class="field">
        <%= f.label :generic_name %>
        <%= f.text_field :generic_name, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :retail_price %>
        <%= f.number_field :retail_price, class: "form-control" ,  step: 0.01, required: :true%>
      </div>

      <div class="field">
        <%= f.label :trade_price %>
        <%= f.number_field  :trade_price , class: "form-control" ,  step: 0.01, required: :true%>
      </div>

      <div class="field">
        <%= f.label :purchase_price %>
        <%= f.number_field  :purchase_price, class: "form-control" ,  step: 0.01, required: :true%>
      </div>

      <div class="form-group">
        <%= f.label :company %>
        <%= f.collection_select :company_id, Company.all, :id, :name, {include_blank: "Select Company"}, {class: "form-control", required: true} %>
      </div>
      <div class="form-group">
        <%= f.label :distributor_id %>
        <%= f.collection_select :distributor_id, Distributor.all, :id, :name, {include_blank: "Select Distributor"}, {class: "form-control", required: true} %>
      </div>

      <div class="form-group">
        <%= f.submit class: "btn btn-submit btn-info pull-right" %>
      </div>
    </div>
  </div>


<% end %>
