
    <section class="content">
      <!-- Small boxes (Stat box) -->
            <%#= render partial: "/dashboard/status"%>

      <!-- /.row -->

      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Drugs (<%= @drugs.count %>)</h3>
              <div class="col-md-2 pull-right">
                <%= link_to "Add Drug", new_drug_path, class: "btn btn-block btn-flat btn-primary pull-right" %>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="<%= table_classes  %>  pretty" id= "drugs">
                <thead class="thead-dark" >
                  <tr>
                    <th>Brand name</th>
                    <th>Generic name</th>
<!--                    <th>Retail price</th>-->
<!--                    <th>Trade price</th>-->
<!--                    <th>Purchase price</th>-->
                    <th>Quantity</th>
                    <th>Company</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                  <tbody>
                    <% @drugs.each do |drug| %>
                      <tr>
                        <td><%= drug.brand_name %></td>
                        <td><%= drug.generic_name %></td>
<!--                        <td><%#= drug.retail_price %></td>-->
<!--                        <td><%#= drug.trade_price %></td>-->
<!--                        <td><%#= drug.purchase_price %></td>-->
                        <td><%= drug.quantity %></td>
                        <td><%= drug.company.name %></td>
<!--                        <td><%#= link_to 'Show', drug %></td>-->
                        <td><%= link_to 'Edit', edit_drug_path(drug) , class: "btn btn-success btn-flat btn-block btn-sm"%></td>
<!--                        <td><%#= link_to 'X', drug, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
                      </tr>
                    <% end %>
                  </tbody>
              </table>
            </div>
          </div>
          <!-- /.box -->
        </div>
        <!-- ./col -->
          <!-- /.box -->
        </div> -->
        <!-- ./col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <%= render 'layouts/footer' %>
  <script>
  //   $.widget.bridge('uibutton', $.ui.button);
  </script>