<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Invoices (<%= @invoices.try(:count)%>)</h3>
          <div class="col-md-2 pull-right">
            <%= link_to "New Invoice", new_invoice_path, class: "btn btn-block btn-flat btn-primary pull-right" %>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table class="<%= table_classes %>" id= "invoices">
            <thead>
              <tr>
                <th>Patient name</th>
                <th>Age</th>
                <th>Total</th>
                <th>Actions</th>
              </tr>
            </thead>

            <tbody>
              <% @invoices.each do |invoice| %>
                <tr>
                  <td><%= invoice.patient_name %></td>
                  <td><%= invoice.age %></td>
                  <td><%= invoice.total %></td>
                  <td>
                    <%= link_to "Generate Pdf" , invoice_pdf_path(invoice,format: :pdf ) , class: "btn btn-bitbucket" ,target: "_blank" %>
<!--                      <span></span>-->
                    <%#end%>
                    <%= link_to "View ", invoice_path(invoice.id), class: "btn  btn-success"%>
                  </td>
                 </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<br>