<div class = "content">
<div class= "row">
  <div class = "col-md-12">
    <div class = "box new-invoice">
      <div class="row">
        <div class="col-lg-12">
          <%= link_to invoices_path do%>
            <i class="fa fa-arrow-left fa-2x"></i>
            <%end%> 
         <label style="margin-left:14px">
             <h3>New Invoice</h3>
         </label>
        </div>
      </div>
      
<%# render 'form', invoice: @invoice %>
<div class="row">
<div class = "col-md-12">
  <div class = "col-md-4">
    <label>Patient Name</label>
    <%= text_field_tag :patient_name ,nil, class: "form-control",:autocomplete => :off, placeholder: "Patient Name" %>
  </div>
  <div class = "col-md-4">
    <label>Age</label>
    <%= text_field_tag :age ,nil, class: "form-control",:autocomplete => :off, placeholder: "Patient Age" %>
  </div>
  <div class = "col-md-4">
    <%= label_tag :invoice_date %>
    <%= text_field_tag :invoice_date,nil, class: "form-control datepicker",:autocomplete => :off %>
  </div>
</div>
</div>
<br>
<div class = "row">
  <div class="col-md-10">
    <table class="table kk">
      <thead>
      <tr class="item-row">
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
      </thead>
      <tbody>
      <tr id="hiderow">
        <td colspan="4">
          <a id="addRow" href="javascript:;" title="Add a row" class="btn btn-primary">Add Drug</a>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class="text-right"><strong>Gross:</strong></td>
        <td><span id="subtotal">0.00</span></td>
      </tr>
      <tr>
        <td><strong>Total Quantity: </strong><span id="totalQty" style="color: red; font-weight: bold">0</span> Units
        </td>
        <td></td>
        <td class="text-right"><strong>Discount %</strong></td>
        <td><input class="form-control" id="discount" value="0" type="text"></td>
      </tr>
      <tr class = "hide">
        <td></td>
        <td></td>
        <td class="text-right"><strong>Shipping</strong></td>
        <td><input class="form-control" id="shipping" value="0" type="text"></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class="text-right"><strong>Grand Total</strong></td>
        <td><span id="grandTotal">0</span></td>
      </tr>
      </tbody>
    </table>
    <div class = "form-group">
      <button class="btn btn-success" onclick="return checkout();" id = "submit" style="margin-left:8px">Create Invoice   </button>
    </div>

  </div>
</div>


<script>
    window.drugs = <%= raw @d.to_json %>
    window.all_drugs = <%= raw @all_drugs.to_json %>
    jQuery().invoice({
        addRow: "#addRow",
        delete: ".delete",
        parentClass: ".item-row",

        price: ".price",
        qty: ".qty",
        total: ".total",
        totalQty: "#totalQty",

        subtotal: "#subtotal",
        discount: "#discount",
        shipping: "#shipping",
        grandTotal: "#grandTotal"
    });
    var availableTags = Object.keys(window.drugs)
    $(document).on('focusin', ".qty",{}, function (e) {
        brand_name =  $(this).parents(".item-row").find(".item").val();
        var self = this;
        //------------ <  Append available quantity <p>   > --------------
        $.each(window.all_drugs, function (key, value) {
            if (String(value.brand_name) == brand_name) {
                  $(self).parent().find(".available_units ").remove();
                $(self).parent().append("<p class = 'available_units info' id = "+value.quantity +"> "+value.quantity+" units available. </p>")
            }

        });
        // -------------<           >-------------
    })
    //-----------< check if Entered quantity is greater than available quantity >-------------------
    $(document).on('focusout', ".qty",{}, function (e) {
        if( parseInt($(this).parent().find(".info").attr("id") ) < parseInt($(this).val()))
        {
            $(this).val("")
        }
    })
    // ----------<           >-------------
    $(document).on('focus','.item', {} ,function(e){
        $(e.currentTarget).autocomplete({
            source: availableTags,
            "ui-autocomplete": "highlight",
            select: function( event, ui ) {
                $(this).parents(".item-row").find(".price").val(window.drugs[ui.item.value])
                // $('<input>').attr({
                //     type: 'hidden',
                //     class: 'drug_id'
                // }).appendTo('form');
                // $(".price").val(window.drugs[ui.item.value])
            },
            change: function (event, ui) {
                // $(".price").val(window.drugs[ui.item.value])
                $(this).parents(".item-row").find(".price").val(window.drugs[ui.item.value])
            }
        });
    })
    function checkout() {
        $("#submit").prop('disabled', true);
        invoice_drugs = []
        $(".item-row ").each(function(){
          if($(this).find(".item-name").length > 0)
          {
              invoice_drug = {
                  drug_name: $(this).find(".item").val(),
                  price: $(this).find(".price").val(),
                  quantity: $(this).find(".qty").val()
              }
              invoice_drugs.push(invoice_drug)
              console.log(invoice_drug)
          }
        })
        $.ajax({
            type: 'post',
            url: '/invoices',
            data: {
              invoice: {
                  total: $("#grandTotal").text(),
                  patient_name: $("#patient_name").val(),
                  age: $("#age").val(),
                  invoice_date: $("#invoice_date").val(),
                  discount: $("#discount").val(),
                  gross: $("#subtotal").text()
              },
              invoice_drugs: invoice_drugs
            },
            'success': function (response) {
                window.location.href  = "/invoices"
            },
            'error': function (response) {
                alert("Something went wrong. Please contact Developer! ")
                $("#submit").prop('disabled', false);
            }
        });
    }
</script>


  </div>

</div>
</div>
</div>