<p id="notice"><%= notice %></p>

<p>
  <strong>Total:</strong>
  <%= @invoice.total %>
</p>

<p>
  <strong>Patient name:</strong>
  <%= @invoice.patient_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @invoice.age %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
