<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @distributor.name %>
</p>

<p>
  <strong>Contact person:</strong>
  <%= @distributor.contact_person %>
</p>

<p>
  <strong>Primary phone no:</strong>
  <%= @distributor.primary_phone_no %>
</p>

<p>
  <strong>Secondary phone number:</strong>
  <%= @distributor.secondary_phone_number %>
</p>

<!--<%#= link_to 'Edit', edit_distributor_path(@distributor) %> |-->
<%#= link_to 'Back', distributors_path %>
