<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Companies (<%= @companies.count %>)</h3>
          <div class="col-md-2 pull-right">
            <%= link_to "Add Company", new_company_path, class: "btn btn-block btn-flat btn-primary pull-right" %>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table class="<%= table_classes %>" id="distributors">
            <thead>
            <tr>
              <th>Name</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <% @companies .each do |company| %>
              <tr>
                <td><%= company.name %></td>
                <td>
                  <div class = "row">
                    <div class="col-md-2">
                      <%= link_to "Edit", edit_company_path(company), class: "btn btn-success btn-flat btn-block btn-sm " %>
                      <%#= link_to "X", company, method: :delete,data: {confirm: 'Are you sure?'}%>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>

            </tbody>
          </table>
      </div>
    </div>
      <!-- /.box -->
    </div>
    <!-- ./col -->
    <!-- ./col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<%= render 'layouts/footer' %>
<script>
//     $.widget.bridge('uibutton', $.ui.button);
</script>
