<p id="notice"><%= notice %></p>

<!--<h1>Drugs Stocks</h1>-->

<section class="content">
  <!-- Small boxes (Stat box) -->
  <% render partial: "/dashboard/status"%>
<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Stock (<%= @drugs_stocks.count %>)</h3>
        <div class="col-md-2 pull-right">
          <%= link_to "Add Stock Item", new_drugs_stock_path, class: "btn btn-block btn-flat btn-primary pull-right" %>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered table-hover" id= "drugs_stock">
          <thead>
          <tr>
            <th>Retail price</th>
            <th>Total price</th>
            <th>Purchase price</th>
            <th>Drug</th>
            <th>Company</th>
            <th> Actions </th>
          </tr>
          </thead>

          <tbody>
          <% @drugs_stocks.each do |drugs_stock| %>
            <tr>
              <td><%= drugs_stock.retail_price %></td>
              <td><%= drugs_stock.total_price %></td>
              <td><%= drugs_stock.purchase_price %></td>
              <td><%= drugs_stock.drug.brand_name %></td>
              <td><%= drugs_stock.company_id %></td>
              <td><%= link_to 'Show', drugs_stock %>
                <%= link_to 'Edit', edit_drugs_stock_path(drugs_stock) %>
                <% link_to 'Destroy', drugs_stock, method: :delete, data: {confirm: 'Are you sure?'} %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</section>


<br>

<%= link_to 'New Drugs Stock', new_drugs_stock_path %>

<script>
    $(function () {
        $("#drugs_stock").DataTable();
        // $('#drugs_stock').DataTable({
        //     "paging": true,
        //     "lengthChange": false,
        //     "searching": false,
        //     "ordering": true,
        //     "info": true,
        //     "autoWidth": false
        // });
    });
</script>
