<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h1 class="box-title">Reports </h1>
<!--          <div class="col-md-2 pull-right">-->
            <%#= link_to "New Invoice", new_invoice_path, class: "btn btn-block btn-flat btn-primary pull-right" %>
<!--          </div>-->
        </div>
        <div class="box-body">
          <%= form_tag generate_reports_path do %>
            <div class="row">
              <div class="col-md-2">
                <%= label_tag :start_Date %>
                <%= text_field_tag :start_date, nil, class: "form-control datepicker" ,:autocomplete => :off,:required => true , value: params[:start_date]%>
              </div>
              <div class="col-md-2">
                <%= label_tag :end_Date %>
                <%= text_field_tag :end_date, nil, class: "form-control datepicker" ,:autocomplete => :off,:required => true , value: params[:end_date]%>
              </div>
              <div class = "col-md-5 mt-20">
                <label class="container1 ">Stock Report
                  <input type="radio" <%= @drugs_stocks.present? ? 'checked' : 'false' %> name="type" value= "stock" required>
                  <span class="checkmark"></span>
                </label>
                <label class="container1">Sales Report
                  <input type="radio" <%= @Invoices.present? ? 'checked' : 'false' %> name="type" value= "sales" required>
                  <span class="checkmark"></span>
                </label>
                <%= submit_tag :generate, class: "btn btn-success pull-right" %>
              </div>
            </div>
          <%end%>
        </div>
        <hr>
        <%if @Invoices.present?%>
          <div class="box-body">
            <h3 class="box-title"><strong>Sales Report </strong></h3>
          <table class="<%= table_classes %>" id="invoices_report">
            <thead>
            <tr>
              <th>Invoice Number</th>
              <th>Patient Name</th>
              <th>Amount</th>
<!--              <th>Net Discount</th>-->
              <th>Profit</th>
              <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <% total_profit = 0.0
              @Invoices.each do |invoice| %>
              <tr>
                <td><%= link_to "##{invoice.id}" , invoice_path(invoice.id) %></td>
                <td><%= invoice.patient_name.try(:humanize) %> (<%=invoice.age %>)</td>
                <td><%= invoice.total %></td>
                <%# total_drugs_discount= invoice.invoice_drugs.sum(:discount)
                    net_drugs_discount = total_drugs_discount - invoice.discount
                    profit = number_with_precision(invoice.total * (net_drugs_discount / 100), precision: 2).to_f rescue 0
                    total_profit += profit
                %>
<!--                <td><%#=  net_drugs_discount %></td>-->
                <td><%= invoice.get_profit.round(2)  rescue "Error" %></td>
                <td><%= invoice.invoice_date.to_date.strftime(date_format) rescue "" %></td>
              </tr>
            <% end %>
            </tbody>
            <tfoot>
              <tr>
                <th colspan="2" style="text-align:right"></th>
                <th><%#= number_with_precision(@Invoices.sum(:total), precision: 3) %></th>
                <th><%#=@Invoices.map{|i| (i.get_profit rescue 0.0 )}.sum.round(2) %> </th>
              </tr>
            </tfoot>
          </table>
        </div>
        <%elsif @drugs_stocks.present?%>
          <div class="box-body">
            <h3 class="box-title"><strong>Stock Report </strong></h3>
            <table class="<%= table_classes %>" id="drugs_stock_report">
              <thead>
              <tr>
                <th>Invoice Number</th>
                <th>Invoice Date</th>
                <th>Drug</th>
                <th>Quantity</th>
                <th>Remaining Quantity</th>
                <th>Retail Price</th>
                <th>Trade Price</th>
                <th>Purchase Price</th>
                <th>Company</th>
                <th>Comments</th>
              </tr>
              </thead>

              <tbody>
              <% @drugs_stocks.each do |drugs_stock| %>
                <tr>
                  <td><%= drugs_stock.invoice_number %></td>
                  <td><%= drugs_stock.invoice_date.strftime(date_format) rescue "" %></td>
                  <td><%= drugs_stock.try(:drug).try(:brand_name )%></td>
                  <td><%= drugs_stock.quantity %> </td>
                  <td><%= drugs_stock.try(:drug).try(:quantity) %> </td>
                  <td><%= drugs_stock.retail_price %></td>
                  <td><%= drugs_stock.trade_price %></td>
                  <td><%= drugs_stock.purchase_price %></td>
                  <td><%= Company.find(drugs_stock.company_id).name rescue "" %></td>
                  <td></td>
                </tr>
              <% end %>
              </tbody>
              <tfoot>
              <tr>
                <th colspan="4" style="text-align:right"></th>
                <th><%= number_with_precision(@drugs_stocks.sum(:quantity), precision: 3) %></th>
                <th><%= number_with_precision(@drugs_stocks.sum(:retail_price), precision: 3) %></th>
                <th><%= number_with_precision(@drugs_stocks.sum(:trade_price), precision: 3) %></th>
                <th><%= number_with_precision(@drugs_stocks.sum(:purchase_price), precision: 3) %></th>
              </tr>
              </tfoot>
            </table>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</section>

<br>