<!doctype html>
<html>
<head>
  <meta charset='utf-8' />
  <title><%= ENV["Clinic_Name"] %></title>
  <%= wicked_pdf_stylesheet_link_tag "application" -%>
  <%= wicked_pdf_javascript_include_tag "application" %>
</head>
<body onload='number_pages'>
<div id="header">
  <%= wicked_pdf_image_tag 'clinic_image.jpg' %>
</div>
<div id="content">
  <div class = "container">
    <%= yield %>
  </div>
</div>
</body>
</html>